{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="fw-bold text-center text-danger">Change Your Passoward</h1>

<form method="post" style="width: 50%; margin: auto" novalidate>
  {% csrf_token %} 
  {% if form.non_field_errors %}
    {% for er in form.non_field_errors %}
        <p class="bg-danger text-white p-3 text-center">{{er}}</p>
    {% endfor %}
  {% endif %}
  <!---{{form|crispy}}-->
  {%for v in form%}
  {{v.label_tag}} {{v}}
  <p class="text-danger">{{v.errors | striptags}}</p>
  {% endfor %}
  <br />
  <button type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock  %}