
{% extends "base.html" %} 
{% block content %}
<div class="row mt-5">

{% for task in tasks %}
  <div class="col-sm-3">
    <div class="card border-primary text-black m-3">
      <div class="card-body">
        <h5 class="card-title text-danger"><b>{{task.id}} - <small class='text-success'>{{task.taskTitle}}</b></small></h5>
        <p><b>Task Assign Date: {{ task.TaskAssignDate}}</b></p>
        
        <p class="card-text">{{ task.taskDescription }}</p>
<p>Categories: 
  {% for cate in task.taskCategories.all %}
  <button type="button" class="btn btn-info btn-sm m-1" disabled>
    {{cate.name}}
  </button>
{% endfor %}
</p>
     
        {% if task.is_completed %}
        <button type="button"  class="btn btn-success m-1" >Completed</button>
        {% else %}
        <a href="{% url "edit" task.id%}" class="btn btn-warning m-1">Edit</a>
        <a href="{% url "delete" task.id %}" class="btn btn-danger m-1">Delete</a>
        
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
