{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-2">
      <div class="card">
       
        
        <ul class="list-group list-group-flush bg-secondary">
          <li class="list-group-item"><a href="#" class="text-decoration-none fw-bold  text-dark fs-5">Edit Profile</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row ms-5">
        {% for car in data %}
        <div class="col-md-3 mb-3">
          <div class="card border border-info">
            <div class="img-wrapper">
              <img src="{{ car.car.image.url }}" class="card-img-top img-custom" alt="{{ car.model_name }}">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ car.car.model_name }}</h5>
              <p class="card-text fw-semibold">Price: ${{ car.car.price }}</p>
              <p class="card-text">Brand: {{ car.car.brand.name }}</p>
              <a href="{% url 'product_details' car.id %}" class="btn btn-secondary mx-auto">View Details</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
